* {
  box-sizing: border-box;
}

body {
  background: #29323c;
  color: white;
  margin-top: 50px;
  font-family: sans-serif;
}

/* Float four columns side by side */
#col {
  float: left;
  max-width: 50%;
  min-width: 40%;
  padding: 0 20px;
}

/* Remove extra left and right margins, due to padding */
#row {	
	display: flex;
    justify-content: center;
	margin: 0 -5px;
 }

#row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

#uid {
    display: flex;
    align-items: center;
}

#uidi {
   margin-left: 20px;
}

#name {
    font-weight: 600;
    font-size: 20px;
    color: red;
}

#sts {
   padding: 8px 2px;
   font-weight: 600;
   font-size: 16px;
   font-family: Arial, sans-serif;
}

#avim {
   vertical-align: left;
   width: 80px;
   height: 80px;
}

#tx {
    color: rgba(250, 200, 110, .8);
}

#sk {    
   background:#3D9970;
   padding:4px;
   color:#fff;
   border-radius:3px;
}

#go {
    background:#D4AF37;
    padding:4px;
    color:#fff;
    border-radius:3px;
}

#si {
    background:#adacac;
    padding:4px;
    color:#fff;
    border-radius:3px;
}


#crd {
  background: #485563;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 16px;
  margin-bottom: 30px;
  text-align: left;
  background-color: #f1f1f1;
  border-left: 3mm ridge rgba(250, 200, 110, .8);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#inf {  
  width: 80%;
  margin-top: 200px;
  padding: 0 20px;
}

#infi {
  background: #485563;  
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding-left: 16px;
  text-align: left;
  background-color: #f1f1f1;
  border-left: 3mm ridge rgba(210, 70, 0, .8);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}